/*Cursor Effect*/
.grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  pointer-events: none;
}

.grid__item {
  z-index: 5;
  height: 30px;
  width: 30px;
  opacity: 0;
  transition: opacity 1s ease 0.4s;
  background: rgba(113,198,219,0.6);
}
.grid__item.animated {
  -webkit-animation-name: gridAnim;
  animation-name: gridAnim;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/*
.grid__item:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}
*/
@-webkit-keyframes gridAnim {
  0% {
    opacity: 0;
  }
  30% {
  	opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes gridAnim {
  0% {
    opacity: 0;
  }
  30% {
  	opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* Global Styles */
body {
  height: 100vh;
}


@font-face {
    font-family: HKNova-medium;
    src: url('../font/HK_Nova_Medium/WEB/HKNova-Medium.woff');
}
body{
	font-family: "Futura Md BT";
	width: 100%;
	height: 100vh;
/*	background: no-repeat;
	background-image: linear-gradient(45deg, #aaa, #eee, #fff);
*/	color: #777;
	overflow: hidden;
}

/*decoration*/

.decoration-item{
	max-height: 80vh;
	position: absolute;
	display: block;
	margin: 0 !important;
}
.decor-1{
	transform: rotateZ(225deg);
	top: -40vh;
	left: 10vw;
	/*opacity: 0.7;*/
}
.decor-2{
	transform: rotateZ(225deg);
	height: 70vh;
	top: -35vh;
	left: 20vw;
}
.decor-3{
	transform: rotateZ(225deg);
	height: 60vh;
	top: -30vh;
	left: 24vw;
	opacity: 0.7;
}
.decor-4{
	transform: rotateZ(45deg);
	height: 50vh;
	top: -30vh;
	right: 10vw;
	/*opacity: 0.7;*/
}
.decor-5{
	transform: rotateZ(45deg);
	height: 40vh;
	top: -20vh;
	right: 20vw;
}
.decoration-top{
	position: absolute;
	top: 0;
	left: 0;
}
.decoration{
	z-index: 10;
}
.decoration-bottom{
	position: absolute;
	bottom: 0;
	right: 0;
}

    /* Section 1
	 * --------------------------------------- */

	#section1, #section2, #section3, #section4, #section5{
		background: url('../images/background.jpg') top left no-repeat;
		background-size: 100vw 100vh;
		/*background-image: linear-gradient(45deg, #aaa, #eee, #fff);*/
	}
	#section1{
		overflow: hidden;
		width: 100vw;
		height: auto;
	}
	#section1 .border{
		width: 200px;
		height: 2px;
		background-color: #fff;
		margin: 50px auto;
	}
	#section1 p{
		color: #fff;
	}
	#section1 img{
		margin: 20px 0;
	}
	#section1 .tag{
		width: 60vw;
		height: auto;
		top: 40vh;
		left: 20vw;
		z-index: 10;
		position: absolute;
	}
	#section1 img{
		width: 100%;
		height: auto;
	}
	.logo{
		position: absolute;
		top: 30px;
		left: 30px;
		width: 60px;
		height: auto;
		z-index: 10;
	}
	.menu{
		position: fixed;
		top: 30px;
		right: 50px;
		display: block;
		z-index: 10;
	}
	.menu li{
		font-size: 24px;
		display: inline-block;
		list-style: none;
		padding: 10px 0px;
		margin: 0px 25px;
		color: #fff;
	}
	.menu li:hover{
		border-bottom: #fff 2px solid;
	}
	.menu a:hover{
		text-decoration: none;
	}

	#section1 video{
		width: 100%;
		height: auto;
		position: relative;
		top: 0;
		left: 0;
		z-index: 0;
	}

	/* Section 2
	 * --------------------------------------- */

	#section2 #colors{
		right: 60px;
		bottom: 0;
		position: absolute;
		height: 413px;
		width: 258px;
		background-image: url(imgs/colors.gif);
		background-repeat: no-repeat;
	}
	#section2 .container{
		background: url(../img/backbone.png) no-repeat top;
		background-size: 100% auto;
		padding-top: 50px;
		height: 100vh;
	}

	#section2 .row{
		text-align: center;
	}
	#section2 .col-md-2{
		padding: 15px 7px;
	}

	.title{
		font-family: "LexendDeca Regular", sans-serif;
		width: 100%;
		height: 100px;
		margin-bottom: 30px;
		position: relative;
		color: #fff;
		text-align: center;
		font-size: 50px;
		padding-top: 20px;
	}
	.item{
		width: 100%;
		height: 270px;
		overflow: hidden;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
		border: solid 2px rgba(255,255,255,0.2);
		display: inline-block;
	}
	.item span{
		color: #39e5ff;
		font-size: 18px;
		display: block;
		line-height: 20px;
		margin-bottom: 20px;
	}
	.item img{
		margin: auto;
		width: 50%;
		display: block;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.item p{
		font-size: 10px;
		color: #aaa;
	}
	.client{
		margin: 10px auto;
		width: 80%;
		display: block;
		height: auto;
	}

/*	#section2 .decoration{
		position: absolute;
		left: -10vw;
		top: 25vh;
		z-index: 20;
	}
	#section2 .decoration .spin-animate{
		width: 50vw;
	    -webkit-animation: spin 120s infinite linear;
	    -moz-animation: spin 120s infinite linear;
	    -ms-animation: spin 120s infinite linear;
	    -o-animation: spin 120s infinite linear;
	    animation: spin 120s infinite linear;
    }
*/	
	@-moz-keyframes spin {
		from { -moz-transform: rotate(0deg); }
		to { -moz-transform: rotate(360deg); }
	}
	@-webkit-keyframes spin {
		from { -webkit-transform: rotate(0deg); }
		to { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
		from {transform:rotate(0deg);}
		to {transform:rotate(360deg);}
	}
	#section2 p, #section2 h1{
		text-align: left;
		z-index: 20;
		margin: 0;
		position: relative;
	}

	/* Section 3
	 * --------------------------------------- */

.page{
}
.page .con{
	width: 80%;
	margin: auto;
	position: relative;
}
.page h3{
	text-align: left;
	color: #fff;
	font-size: 40px;
	line-height: 40px;
}
.page h3 small{
	text-align: left;
	font-size: 30px;
	color: #39e5ff;
}
.page p{
	text-align: left;
	margin-top: 30px;
	margin-bottom: 80px;
	color: #fff !important;
	font-size: 18px;
}
.page .text{
	margin-top: 50vh;
	transform: translate(0,-50%);
}
.photo{
	float: right;
	width: 100%;
	height: auto;
	margin-top: 50vh;
	transform: translate(0,-50%);
}
.photo img{
	width: 100%;
	position: relative;
	-webkit-transform: translate(-30px,-30px);
	transform: translate(-30px,-30px);
	z-index: -1;
}
.frame{
	width: auto;
	height: auto;
	z-index: 10;
	margin: 50px;
	position: relative;
	z-index: initial;
	background: none;
	display: block;
	border: 2px solid #39e5ff;
	box-shadow: 0px 0px 20px -5px rgba(57,229,255,0.5),
	inset 0px 0px 20px -5px rgba(57,229,255,0.5);
}
.button{
	border: solid 1px #39e5ff;
	padding: 5px 40px;
	border-radius:50px;
	color: #fff;
	font-size: 18px;
}
/*Variant*/
.variant{
	position: absolute;
}
.abs{
	position: absolute;
	z-index: 30;
	pointer-events: none;
}
a:hover{
	text-decoration: none;
	color: #fff;
}
.v-n1{
	background: url("../img/01.png") top right no-repeat;
	background-size: 400px auto;
	margin-top: 10vh;
	width: 30vw;
	height: 90vh;
}
.v-n2{
	background: url("../img/02.png") top right no-repeat;
	background-size: 500px auto;
	margin-top: 20vh;
	width: 90vw;
	height: 80vh;
}
.v-mur1{
	background: url("../img/mur1.png") top right no-repeat;
	background-size: 80px auto;
	margin-top: 80vh;
	width: 30vw;
	height: 20vh;
}
.v-mur2{
	background: url("../img/mur1.png") top right no-repeat;
	background-size: 40px auto;
	margin-top: 10vh;
	width: 70vw;
	height: 90vh;
}
.v-mur3{
	background: url("../img/mur1.png") top right no-repeat;
	background-size: 40px auto;
	margin-top: 10vh;
	width: 20vw;
	height: 90vh;
}
.v-mur4{
	background: url("../img/mur1.png") top right no-repeat;
	background-size: 80px auto;
	margin-top: 70vh;
	width: 70vw;
	height: 90vh;
}
.v-line1{
	background: url("../img/strip-line.png") top right no-repeat;
	background-size: 150px auto;
	margin-top: 10vh;
	width: 50vw;
	height: 90vh;
}
.v-line2{
	background: url("../img/line2.png") top right no-repeat;
	background-size: 400px auto;
	margin-top: 70vh;
	margin-left: 4vw;
	width: 100vw;
	height: 30vh;
}
.v-line3{
	background: url("../img/line3.png") top left no-repeat;
	background-size: 400px auto;
	margin-top: 50vh;
	margin-left: -10vw;
	transform: translate(0,-50%);
	width: 50vw;
	height: 50vh;
}
.v-line4{
	background: url("../img/strip-line.png") top right no-repeat;
	background-size: 150px auto;
	margin-top: 70vh;
	width: 50vw;
	height: 90vh;
}

/*before animate*/
.photo img{
	-webkit-transform: translate(-30px,-300px);
	transform: translate(-30px,-300px);
}
.photo{
	margin-top: 200vh;
}
.page .text{
	margin-top: 200vh;
}
.page .text .button{
	position: relative;
	top: 300px;
	display: block;
	width: 250px;
	text-align: center;
}
.v-n1,.v-n2, .v-mur2, .v-mur3{
	margin-top: 100vh;
}
.v-line1{
	margin-top: 100vh;
}
.v-line2, .v-line4{
	margin-top: 200vh;
}

/*after animate*/
.animated{
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.v-line1.animated{
	-webkit-animation-name: numberOne;
	animation-name: numberOne;
}
.v-line2.animated{
	-webkit-animation-name: lineOne;
	animation-name: lineOne;
}
.v-mur1.animated,.v-mur4.animated,.v-line4.animated{
	-webkit-animation-name: murOne;
	animation-name: murOne;
}
.photo.animated img{
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: photo;
	animation-name: photo;
}
.photo.animated{
	-webkit-animation-name: frame;
	animation-name: frame;
}
.page .text.animated{
	-webkit-animation-name: textV;
	animation-name: textV;
}
.page .text.animated .button{
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: textButton;
	animation-name: textButton;
}
.v-mur3.animated,.v-mur2.animated, .v-n1.animated, .v-n2.animated{
	-webkit-animation-name: numberOne;
	animation-name: numberOne;
}
.v-line3.animated{
	-webkit-animation-name: textV;
	animation-name: textV;
}

/*animate out*/
.animated-out{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.v-line1.animated-out{
	-webkit-animation-name: lineOut;
	animation-name: lineOut;
	margin-top: 10vh;
}
.photo.animated-out img{
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: photoOut;
	animation-name: photoOut;
}
.photo.animated-out{
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: frameOut;
	animation-name: frameOut;
}
.page .text.animated-out{
	display: block;
	width: 100%;
	position: relative;
	-webkit-animation-name: textVOut;
	animation-name: textVOut;
}
.page .text.animated-out .button{
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: textButtonOut;
	animation-name: textButtonOut;
}
.v-mur3.animated-out, .v-mur2.animated-out, .v-mur4.animated-out, .v-mur5.animated-out{
	-webkit-animation-name: lineOneOut;
	animation-name: lineOneOut;
}
.v-mur4.animated-out{
	margin-top: 80vh;
	width: 70vw;
}
.v-mur3.animated-out{
	margin-top: 10vh;
	width: 20vw;
}
.v-n1.animated-out{
	-webkit-animation-name: numberOneOut;
	animation-name: numberOneOut;
}
.v-n2.animated-out{
	-webkit-animation-name: numberTwoOut;
	animation-name: numberTwoOut;
}
.v-line2.animated-out{
	width: 100vw;
	margin-top: 70vh;
	-webkit-animation-name: lineTwoOut;
	animation-name: lineTwoOut;
}
.v-line3.animated-out{
	margin-left: -10vw;
	-webkit-animation-name: lineThreeOut;
	animation-name: lineThreeOut;
}
.v-mur1.animated-out,.v-mur4.animated-out,.v-line4.animated-out{
	-webkit-animation-name: lineOneOut;
	animation-name: lineOneOut;
}
.v-line4.animated-out{
	margin-top: 80vh;
	width: 50vw;
}


@keyframes numberOne{
	0%{
		margin-top: 100vh;
	}
	100%{
		margin-top: 10vh;
	}
}
@keyframes numberOneOut{
	0%{
		margin-top: 10vh;
		width: 30vw;
	}
	100%{
		margin-top: 10vh;
		width: 130vw;
	}
}
@keyframes numberTwoOut{
	0%{
		margin-top: 10vh;
		width: 90vw;
	}
	100%{
		margin-top: 10vh;
		width: 190vw;
	}
}
@keyframes lineOut{
	0%{
		width: 50vw;
	}
	100%{
		width: 150vw;
	}
}
@keyframes murOne{
	0%{
		margin-top: 200vh;
	}
	100%{
		margin-top: 80vh;
	}
}
@keyframes lineOne{
	0%{
		margin-top: 200vh;
	}
	100%{
		margin-top: 70vh;
	}
}
@keyframes murOneOut{
	0%{
		margin-top: 80vh;

	}
}
@keyframes lineOneOut{
	0%{
		margin-left: 0vw;
	}
	10%{
		margin-left: 0vw;
	}
	100%{
		margin-left: 100vw;
	}
}
@keyframes lineTwoOut{
	0%{
		margin-left: 4vw;
	}
	10%{
		margin-left: 4vw;
	}
	100%{
		margin-left: 100vw;
	}
}
@keyframes lineThreeOut{
	0%{
		margin-left: -10vw;
	}
	10%{
		margin-left: -10vw;
	}
	100%{
		margin-left: 110vw;
	}
}
@keyframes textButton{
	30%{
		top: 250px;
	}
	100%{
		top: 0px;
	}
}
@keyframes textV{
	0%{
		margin-top: 200vh;
	}
	100%{
		margin-top: 50vh;
	}
}
@keyframes textButtonOut{
	0%{
		top: 0px;
		left: 0px;
	}
	30%{
		top: 0px;
		margin-left: -500px;
	}
	100%{
		top: 0px;
		margin-left: 0px;
	}
}
@keyframes textVOut{
	0%{
		margin-top: 50vh;
		margin-left: 0vw;
	}
	100%{
		margin-top: 50vh;
		margin-left: 100vw;
	}
}
@keyframes frame{
	10%{
		margin-top: 200vh;
	}
	100%{
		margin-top: 50vh;
	}
}
@keyframes frameOut{
	0%{		
		margin-top: 50vh;
		margin-right: 0vw;
	}
	100%{
		margin-top: 50vh;
		margin-right: -100vw;
	}
}
@keyframes photo{
	30%{
		-webkit-transform: translate(-30px,-300px);
		transform: translate(-30px,-300px);
	}
	100%{
		-webkit-transform: translate(-30px,-30px);
		transform: translate(-30px,-30px);
	}
}
@keyframes photoOut{
	0%{
		-webkit-transform: translate(-30px,-30px);
		transform: translate(-30px,-30px);
	}
	100%{
		-webkit-transform: translate(-30px,-30px);
		transform: translate(800px,-30px);
	}
}


	/* Section 4
	 * --------------------------------------- */
	#section4 h1{
		font-size: 50px;
		color: #333;
	}
	#section4 p{
		font-size: 16px;
		color: #757575;
	}

	/*Section 5*/
	#section5{

	}
	#section5 h1{
		margin: 70px auto;
		font-size: 70px;
		font-family: "LexendDeca Regular", sans-serif;
		font-weight: bold;
	}
	#section5 .con{
		height: auto;
		top: 0;
		display: block;
		width: 700px;
		margin: auto;
	}
	#section5 .form-control{
		background: none;
		border: 1px solid #39e5ff;
		margin: 10px auto;
		border-radius: 0;
		color: #fff;
	}
	#section5 textarea{
		height: 150px;
	}
	#section5 .btn{
		font-size: 18px;
		padding: 7px 20px;
	}
	#section5 .border{
		width: 80%;
		margin: 30px auto;
		height: 0px;
		border: 1px solid #333 !important;
	}
	.logo-contact{
		width: 70px;
		margin: auto;
		margin-bottom: 20px;
	}
	#section5 p{
		font-size: 16px;
		color: #aaa;
		width: 70%;
		text-align: center;
		display: block;
		margin: 30px auto;
	}

	/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
	#pp-nav.custom .pp-tooltip{
		color: #AAA;
	}
	#pp-nav.custom li{
		width: 14px;
		height: 14px;
	}
	#pp-nav.custom span{
		border-radius: 0;
		margin-left: 1px;
		text-align: center;
		border:1px solid #999 !important;
	}
	#pp-nav.custom .active span{
		margin-left: 0px;
		background: #999;
	}
	#pp-nav.custom .active{
		border:1px solid #bbb;
	}
	#markup{
		display: block;
		width: 450px;
		margin: 20px auto;
		text-align: left;
	}
	.intro{
		z-index: 50;
		position: relative;
	}

	.bg-primary{
		background-color: rgba(101,163,199,0.9) !important;
	}
	.bg-warning{
		background-color: rgba(255,198,97,0.9) !important;
	}
	.bg-success{
		background-color: rgba(102,197,90,0.9) !important;
	}
	.bg-danger{
		background-color: rgba(216,77,77,0.9) !important;
	}
/*	.btn-warning{
		background-color: rgb(255,198,97) !important;
	}
*/
	.btn{
		color: #fff;
		min-width: 50px;
		border-radius: 0;
		border:none;
	}
	.btn:hover{
		color: #fff;
	}

	.modal h5{
		color: #000;
		font-size: 22px;
	}
	.modal .logo,#section4 .logo{
		height: 60px;
	}
	.icon-socmed{
		margin: 5px;
		display: block-inline;
	}
	.icon-socmed img{
		width: 40px;
		height: 40px;
	}
	.icon-socmed:hover img{
		opacity: 0.8;
	}
	.mobile{
		display: none;
	}

@media screen and (max-width: 1024px){
	html, body{
		height: auto;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.desktop{
		display: none !important;
	}
	.mobile{
		display: block;
	}
	#section1 img{
		width: 100%;
		height: auto;
	}
	#section1 .tag{
		top: 0;
		transform: translate(0,50%);
	}
	#section1 .tag p{
		font-size: 14px;
	}
	#section1 .border{
		margin: 10px auto;
	}
	#section2 .container{
		background: url(../img/backbone.png) no-repeat center;
		background-size: 100% auto;
		padding: 50px 0;
		height: auto;
	}
	#section2 .col-md-2{
		max-width: 100%;
		flex: 100%;
		width: 100%;
	}
	#section2 .title{
		font-size: 30px;
	}
	.item{
		height: auto;
	}
	.item img{
		margin: 0;
		width: 20%;
		margin: 50px;
		float: left;
	}
	.item span{
		text-align: left;
		margin: 0;
		font-size: 28px;
		margin: 20px 0;
		line-height: 30px;
		margin-top: 50px;
	}
	.item p{
		font-size: 22px;
	}
	#section1, #section2, #section3, #section4, #section5{
		background: url('../images/background.jpg') top left no-repeat;
		background-position: fixed;
		background-size: 100% 100%;
	}
	.page{
		height: auto;
	}
	.page .col-md-3,.page .col-md-5,.page .col-md-4,.page .col-md-1{
		max-width: 100%;
		flex: 100%;
		width: 100%;
	}
	.variant{
		display: none;
	}
	.page .text{
		margin-top: 50px;
		transform: translate(0,0);
	}
	.page .text .button{
		top : 0px;
	}
	.page .photo{
		margin-top: 50px;
		transform: translate(0,0);
	}
	.page img{
		transform: translate(-30px,-30px);
	}
	#section4{
		padding-bottom: 100px;
	}
	#section5{
		padding: 100px 0;
	}
	.menu{
		margin-top: 60px;
		display: none;
	}
	.menu.active{
		display: block;
	}
	.menu a{
		display: inline-block;
		width: 100%;
		text-align: right;
	}
	a.carret-menu{
		z-index: 50;
		position: fixed;
		right: 20px;
		top: 30px;
		font-size: 50px;
		color: #fff;
	}
	#section5 .con{
		width: 90%;
	}
	#section5 h1{
		font-size: 30px;
	}
}